---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import Sidebar from '../components/Sidebar.astro';
import client from '../lib/sanity.ts'; //
import { PortableText } from 'astro-portabletext';
import AnimateOnScroll from '../components/AnimateOnScroll.jsx'; 
import Experiencia from '../components/sections/Experiencia.astro';
import Habilitats from '../components/sections/Habilitats.astro';
import Formacio from '../components/sections/Formacio.astro';
import SobreMi from '../components/sections/SobreMi.astro';

// Consulta a Sanity per obtenir les dades del portafoli
const query = `*[_type == "siteSettings"][0]{...,"experiencies": *[_type == "experiencia"] | order(ordre asc),"formacions": *[_type == "formacio"] | order(ordre asc),"habilitatsTecniques": *[_type == "habilitat" && categoria == "tecnica"] | order(nom asc),"habilitatsClau": *[_type == "habilitat" && categoria == "clau"] | order(nom asc)}`; //
const data = await client.fetch(query);
---
<Layout title={data?.nom || 'Portafoli Aitor Rivera'}>
	<div class="max-w-screen-xl mx-auto lg:flex">
		<Sidebar settings={data} />
		<main class="w-full lg:w-3/5 p-8 lg:p-16 lg:py-24">
			{data ? (
				<>
                    {/* Cada secció ara està envoltada pel component AnimateOnScroll */}
					<SobreMi/>
                    
                    <Experiencia experiencies={data.experiencies} />
					
                    <Habilitats tecniques={data.habilitatsTecniques} clau={data.habilitatsClau} />
					
                    <Formacio formacions={data.formacions} />

				</>
			) : (
				<div class="bg-slate-800 text-slate-200 p-8 rounded-lg"><p>Connectant amb Sanity...</p></div>
			)}
		</main>
	</div>
</Layout>