---
import PostCard from './PostCard.astro'

interface Props {
  lang: string
  posts: {
    title: string
    slug: string
    publishedAt: string
    excerpt?: string
    categories?: any[]
    tags?: any[]
  }[]
}

const { lang, posts } = Astro.props
---

<section class="mt-16">
  <h2 class="text-2xl font-bold mb-6">Articles relacionats</h2>
  <div class="grid md:grid-cols-2 gap-6">
    {posts.map(post => (
      <PostCard 
        lang={lang}
        slug={post.slug}
        title={post.title}
        excerpt={post.excerpt}
        publishedAt={post.publishedAt}
        categories={post.categories}
        tags={post.tags}
      />
    ))}
  </div>
</section>
