---
// src/layouts/Layout.astro
import '../styles/global.css';
import themeScript from '../scripts/theme.js?raw';
import Analytics from '@vercel/analytics/astro'
import  SpeedInsights  from "@vercel/speed-insights/astro"



interface Props {
	title: string;
	description: string;
	lang?: string;
}
const { title = 'Aitor Rivera Garcia', description = 'Desenvolupador web i gestor de projectes. Portafoli personal.', lang = 'ca' } = Astro.props;

---
<!doctype html>
<html lang="ca" class="scroll-smooth">
	<head>

		<meta charset="UTF-8" />
		<title>{title}</title>
		<meta name="description" content={description} />
  		<link rel="canonical" href={`https://aitorivera.com/${lang}`} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content="https://aitorivera.com/og-image.jpg" />
		<meta property="og:url" content={`https://aitorivera.com/${lang}`} />
		<meta property="og:type" content="website" />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content="https://aitorivera.com/og-image.jpg" />


        <script src="https://kit.fontawesome.com/4933c02f67.js" crossorigin="anonymous" defer></script>
	</head>
	<body class="font-sans bg-slate-100 dark:bg-slate-900 text-slate-800 dark:text-slate-300 transition-colors duration-300">
		<slot />
		<script is:inline set:html={themeScript}></script>
		<Analytics />
        <SpeedInsights />
	</body>
</html>