---
// src/layouts/Layout.astro
import '../styles/global.css';
import { ClientRouter  } from 'astro:transitions';
import themeScript from '../scripts/theme.js?raw';
import Analytics from '@vercel/analytics/astro'
import  SpeedInsights  from "@vercel/speed-insights/astro"
import { SEO } from 'astro-seo';
import BackToTop from '../components/BackToTop.jsx';


interface Props {
	title: string;
	description: string;
	lang?: string;
	canonical?: string;
  	image?: string;
}

const {
  title = 'Aitor Rivera Garcia',
  description = 'Desenvolupador web i gestor de projectes. Portafoli personal.',
  lang = 'ca',
  canonical = `https://aitorivera.com/`,
  image = 'https://aitorivera.com/og-image.jpg'
} = Astro.props;

---
<!doctype html>
<html lang={lang} class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <SEO
      title={title}
      description={description}
      canonical={canonical}
      openGraph={{
        basic: {
          title: title,
          type: 'website',
          image: image,
          url: canonical,
        },
        image: {
          url: image,
          width: 1200,
          height: 630,
          alt: title,
        }
      }}
      twitter={{
        card: 'summary_large_image',
        site: '@aitorivera', 
        creator: '@aitorivera',
        title: title,
        description: description,
        image: image
      }}
    />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="viewport" content="width=device-width" />

    <script src="https://kit.fontawesome.com/4933c02f67.js" crossorigin="anonymous" defer></script>
    <ClientRouter />
  </head>
  <body class="font-sans bg-slate-100 dark:bg-slate-900 text-slate-800 dark:text-slate-300 transition-colors duration-300">
    <slot />
    <BackToTop client:idle />
    <script is:inline set:html={themeScript}></script>
    <Analytics />
    <SpeedInsights />
  </body>
</html>